
body {
    font-family: 'Open Sans', sans-serif;
}

.val {
    font-family: 'Open Sans', sans-serif;
}

div#select_box{
    width: 80%;
    margin: 0 auto;
    padding: 2px;
}

select{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-align-last: center;
    display: block;
    margin: 0 auto;
    font-size: medium;
}

div#legend{
    width: 80%;
    margin: 0 auto;
    padding: 5px;
}
p{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-align-last: center;
    display: block;
    margin: 0 auto;
    font-size: x-small;
}

div#layout {
    text-align: center;
}

div#container {
    width: 1000px;
    height: 800px;
    margin: auto;
    background-color: #fff;
    border: #1f2d39;
}

svg {
    width: 100%;
    height: 100%;
}

text {
    font-size: 12px;
    fill: #000;
}

path {
    stroke: black;
}

line {
    stroke: black;
}

line#limit {
    stroke-width: 3;
}

.grid path {
    stroke-width: 0;
}

.grid .tick line {
    stroke: #000000;
    stroke-opacity: 0.3;
}

text.value {
    font-size: 14px;
}

text.title {
    font-size: 22px;
    font-weight: 600;
}

text.label {
    font-size: 14px;
    font-weight: 400;
}
